@use 'sass:math';
@use 'variables' as *;

@function rem($px) {
  @return math.div($px, $font-size-base) + rem;
}

%text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
