.birthday {
  display: flex;
  gap: rem(30);
  align-items: center;
  justify-content: space-between;

  width: 100%;
  &__title {
    font-size: rem(20);
    font-weight: 500;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: rem(250);
  }
  &__input {
    z-index: 50;

    width: 100%;
    padding: rem(15) rem(20);
    border: 1px solid $border-primary;
    border-radius: 10px;

    font-size: rem(18);
    font-weight: 600;

    background-color: $background-secondary;

    transition: background 0.3s;
    &:hover {
      background-color: $menu-selected;
    }
  }
  &__error {
    z-index: 10;

    height: auto;
    margin-top: rem(-10);
    padding: rem(15) rem(10) rem(10);
    border-radius: 0 0 10px 10px;

    font-size: rem(16);
    font-weight: 500;
    color: $text-heading;

    background-color: $delete;

    transition: all 0.3s;
    &--disabled {
      height: 0;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 1024px) {
  .birthday {
    gap: rem(20);
    &__title {
      font-size: rem(18);
    }
    &__wrapper {
      max-width: rem(200);
    }
    &__input {
      padding: rem(15) rem(20);
      font-size: rem(16);
    }
    &__error {
      font-size: rem(14);
    }
  }
}

@media (max-width: 768px) {
  .birthday {
    gap: rem(10);
    &__title {
      font-size: rem(16);
    }
    &__wrapper {
      max-width: rem(150);
    }
    &__input {
      padding: rem(10) rem(15);
      font-size: rem(16);
      background-color: $menu-selected;
    }
  }
}
