.save {
  z-index: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: rem(60);
  border-top: 2px solid $border-primary;

  opacity: 1;

  transition: all 0.3s;
  &--disabled {
    z-index: -10;
    height: rem(0);
    opacity: 0;
  }
  &__button {
    margin: 0 auto;
    padding: rem(10) rem(15);
    border-radius: 10px;

    font-size: rem(18);
    color: $text-heading;

    background-color: $button;

    transition: background 0.3s;
    &:disabled {
      background-color: $text-secondary;
    }
  }
}

@media(max-width:1024px){
  .save {
    &__button {
      font-size: rem(16);
    }
  }
}

@media(max-width:768px){
  .save {
    // height: rem(50);
    &__button {
      padding: rem(5) rem(10);
      font-size: rem(14);
    }
  }
}
