.field {
  &__about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &-item {
      margin: rem(10) 0;
      padding: rem(10) rem(15);
      border: 2px solid $blue;
      border-color: rgb(57, 3, 255);
      border-radius: 5px;

      font-size: rem(16);
      &--blocked {
        background-color: $grey;
      }
    }
  }
  &__title {
    display: flex;
    flex-direction: column;

    margin: rem(15) 0;

    font-size: rem(16);
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .field {
    &__about {
      flex-direction: column;
    }
  }
}
