.field {
  display: flex;
  flex-direction: column;
  &__button {
    min-height: rem(40);
    margin: rem(10) 0;
    padding: rem(10) 0px;
    border: 2px solid $button;
    border-radius: 5px;

    font-size: rem(16);
    text-align: center;

    background-color: transparent;
    &--blocked {
      cursor: auto;
      background-color: $grey;
    }
  }
  &__variant {
    line-height: 1.5;
    transition: all 0.5s;
    &:hover {
      line-height: 2;
      color: $text-heading;
      background-color: $button;
    }
  }
  &__variants {
    display: flex;
    flex-direction: column;
    text-align: center;
    &:first-child {
      margin-top: rem(20);
    }
  }
}
