.cat {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  display: flex;
  flex-direction: column;

  padding: rem(48);
  border: 1px solid $grey-300;
  border-radius: 4px;

  color: $grey-bg;
  text-align: center;

  background-color: $background-primary;
  box-shadow:
    0 4px 4px -4px rgba(30, 33, 44, 0.05),
    0 12px 10px -6px rgba(30, 33, 44, 0.08),
    0 26px 24px -10px rgba(30, 33, 44, 0.1),
    0 60px 80px -20 rgba(30, 33, 44, 0.16);
  &__background {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.75;
    background-color: $grey-bg;
  }
  &__title {
    margin-bottom: rem(25);
    font-size: rem(28);
  }
  &__attention {
    display: flex;
    gap: rem(20);
    align-items: center;

    margin: rem(10) 0;
    padding: rem(10) rem(20);
    border-radius: 10px;

    font-size: rem(18);
    font-weight: 400;
    color: $text-heading;

    background-color: $delete;
  }
  &__name {
    margin-top: rem(20);
    font-size: rem(24);
    &-input {
      margin: rem(10) 0;
      padding: rem(12) rem(16);
      border: 1px solid $grey-400;
      border-radius: 4px;

      font-size: rem(16);
    }
  }
  &__create-btn {
    padding: rem(15) rem(20);
    border-radius: 10px;

    font-size: rem(18);
    color: $text-heading;

    background-color: $text-accent;
  }
}

@media (max-width: 1024px) {
  .cat {
    padding: rem(36);
    &__title {
      margin-bottom: rem(20);
      font-size: rem(22);
    }
    &__attention {
      gap: rem(15);
    }
    &__name {
      margin-top: rem(15);
      font-size: rem(18);
      &-input {
        font-size: rem(14);
      }
    }
    &__create-btn {
      font-size: rem(16);
    }
  }
}

@media (max-width: 768px) {
  .cat {
    width: 70vw;
    padding: rem(24);
    &__title {
      margin-bottom: rem(10);
      font-size: rem(18);
    }
    &__attention {
      gap: rem(10);
      margin: rem(5) 0;
      padding: rem(5) rem(10);
    }
    &__name {
      margin-top: rem(10);
      font-size: rem(16);
      &-input {
        margin: rem(5) 0;
        padding: rem(7) rem(10);
      }
    }
    &__create-btn {
      padding: rem(10) rem(15);
      font-size: rem(14);
    }
  }
}

@media (max-width: 420px) {
  .cat {
    width: 80vw;
    padding: rem(18);
  }
}
