@font-face {
  font-family: 'Mulish';
  src: url('./Mulish-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('./Mulish-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}