.notification {
  position: fixed;
  z-index: 100;
  right: rem(20);
  bottom: -15vh;

  overflow: hidden;
  display: flex;
  align-items: center;

  max-width: max(80vw, rem(300));
  padding: rem(20);
  padding-left: 0;
  border-radius: 5px;

  font-size: rem(18);

  opacity: 0;
  background-color: $white;
  box-shadow: rgba(149, 157, 165, 0.7) 4px 0px 24px;

  transition: all 0.6s;}

.notification.visible {
  bottom: 5vh;
  opacity: 1;
}

.notification.hidden {
  right: -10vw;
  bottom: 5vh;
  opacity: 0;
}

.green {
  fill: #04e4003a;
}

.red {
  fill: #e41b003a;
}

.wave {
  transform: rotate(90deg);
  height: rem(20);
  margin-right: -rem(30);
  margin-left: rem(-35);
}

@media (max-width: 1024px) {
  .notification {
    font-size: rem(16);
  }
}

@media (max-width: 576px) {
  .notification {
    font-size: rem(14);
  }
}
