.settings {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  &__about {
    &-btn {
      margin: rem(30) 0;
      padding: rem(20) rem(40);
      border-radius: 10px;

      font-size: rem(24);
      color: $white;

      background-color: $red;
    }
  }
  &__separator{
    width: 100%;
    height: rem(1);
    margin-top: rem(-30);
    background-color: $text-heading;
  }
}
