@import './fonts.scss';
body{
  font-size: 14px;
  line-height: 1.1;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
.App, #root{
  width: 100%;
  // min-height: 100vh;
}
.container{
  margin-inline: 10vw;
}
.hidden{
  display: none;
}
.button{
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3903ff;
  color: #fff;
  font-size: 16px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 1024px){
  .container{
    margin-inline: 8vw;
  }
}
@media(max-width: 768){
  .container{
    margin-inline: 5vw;
  }
}
@media(max-width: 576px){
  .container{
    margin-inline: 4vw;
  }
}
@media(max-width: 480){
  .container{
    margin-inline: 3vw;
  }
}
@media(max-width: 360){
  .container{
    margin-inline: 2vw;
  }
}