@import './vars.scss',
'./globals.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10vw;
  font-size: 16px;
  color: $black;
  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
    &_box {
      display: flex;
      gap: 15px;
      align-items: center;
    }
    & > .active {
      color: $orange;
    }
    &_list {
      display: flex;
      gap: 40px;
      align-items: center;
      & > .active {
        color: $orange;
      }
    }
    &_item {
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      &>svg{
        max-width: 50px;
        max-height: 50px;
      }
      &-active {
        background-color: $white;
        color: $black;
      }
    }
  }
  &_right {
    display: flex;
    align-items: center;
    gap: 60px;
    & > img {
      cursor: pointer;
      animation: rotate 15s linear infinite;
      max-height: 50px;
    }
  }
}
.burger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  > div {
    background-color: $black;
    width: 30px;
    height: 4px;
    border-radius: 10px;
  }
  &-menu {
    z-index: 200;
    position: fixed;
    background-color: #121212d1;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 20px;
    width: min-content;
    min-width: 200px;
    text-wrap: nowrap;
    transition: all 0.3s;
    transform: translateX(0);
  }
  &-inner {
    height: 100%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: $white;
    & > .active {
      color: $orange;
    }
  }
  &_close {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 50%;
    transform: translate(50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    & > div {
      position: absolute;
      top: 50%;
      right: 0%;
      width: 40px;
      height: 4px;
      background-color: $white;
    }
    :first-child {
      transform: rotate(45deg);
    }
    :last-child {
      transform: rotate(135deg);
    }
  }
}
.user_name {
  font-weight: 600;
  padding: 5px 15px;
  border: 2px solid $white;
}
.hidden-burger {
  transform: translateX(100%);
  transition: all 0.3s;
}

@media (max-width: 1024px) {
  .header {
    &__nav {
      &_list {
        display: none;
      }
      &_box {
        flex-direction: row-reverse;
      }
      &_item {
        & > h4 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      &_item {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-active {
          border-radius: 50%;
        }
      }
    }
  }
  .user_name {
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
    border: 2px solid $white;
    border-radius: 50%;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 10px 20px;
    &_logo {
      & > img {
        max-width: 30px;
      }
    }
  }
}
