.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: rem(20) 10vw;

  font-size: rem(16);
  color: $black;
  &__nav {
    display: flex;
    gap: rem(20);
    align-items: center;
    &-box {
      display: flex;
      gap: rem(15);
      align-items: center;
    }
    & > .active {
      color: $orange;
    }
    &-list {
      display: flex;
      gap: rem(40);
      align-items: center;
    }
    &-item {
      cursor: pointer;

      display: flex;
      flex-grow: 1;
      gap: rem(10);
      align-items: center;

      height: 100%;

      background: transparent;
      & > svg {
        max-width: rem(50);
        max-height: rem(50);
      }
      &--active {
        color: $black;
        background-color: $white;
      }
    }
    &-cat{
      width: rem(40);
      background-color: transparent;
    }
  }
  &__right {
    display: flex;
    gap: rem(60);
    align-items: center;
  }
  &__logo {
    cursor: pointer;
    max-height: rem(50);
    animation: rotate 15s linear infinite;
  }
  &__user-name {
    overflow: hidden;

    box-sizing: content-box;
    width: rem(60);
    padding: rem(5) rem(15);
    border: 2px solid $white;

    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

@media (max-width: 1024px) {
  .header {
    &__nav {
      &-list {
        display: none;
      }
      &-box {
        flex-direction: row-reverse;
      }
      &-item {
        & > h4 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      &-item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: rem(30);
        height: rem(30);
        &--active {
          border-radius: 50%;
        }
      }
    }
    &__user-name {
      width: 100%;
      max-width: rem(20);
      height: 100%;
      padding: 0;
      border: 2px solid $white;
      border-radius: 50%;

      line-height: 30px;
      text-align: center;
      text-overflow: '.';
      white-space: nowrap;
    }
  }
}

@media (max-width: 576px) {
  .header {
    padding: rem(10) rem(20);
    &__logo {
      & > img {
        max-width: rem(30);
      }
    }
  }
}
